@font-face {
    font-family: 'Batangas';
    src: url('Batangas-Bold.woff2') format('woff2'),
        url('Batangas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

button {
    cursor: pointer;
}

body {
    font-family: "Batangas";
}
